.intro{
	max-width: 880px;
	font-size: 25px;
	color: @dark-gray;
	text-align: center;
	line-height: 1.5;
	text-shadow: 0 0 0 @dark-gray;
	margin: 0 auto -30px;
	@media screen and (min-width: 652px){
		font-size: 26px;
	}
	@media screen and (min-width: 1001px){
		font-size: 32px;
		margin: 10px auto 50px;
	}
}

.text-block{
	font-size: 19px;
	line-height: 1.5;
	max-width: 640px; 
	margin: 0 auto 30px;
	p{
		margin-top: 0px;
	}

	h2{
		margin-top: 60px;
	}
	ul{
		margin-top: -15px;
		list-style: none;
		padding: 0;
		li{
			margin: 0px 0px 25px;
			&::before{
				content: "—";
				margin-right: 5px;
			} 
		}
	}
}

.icons{
	width: 300px;
	margin: auto;
	margin-top: 28px + 18px;
	@media screen and (min-width: 464px){
		width: 444px;
	}
	@media screen and (min-width: 908px){
		width: 888px;
	}
}

.icon{
	width: 112px;
	height: 112px;
	border: 1px solid #ccc;
	float: left;
	margin: 18px 18px;
	border-radius: 100%;
	background-size: contain;
	&.bender{
		border-radius: 0;
		border-color: transparent;
		div{
			background: url(../images/bender-ico.png) no-repeat;
			background-size: contain;
			height: 137px;
    		margin-top: -24px;

		}
	}
	&.fry{
		background: url(../images/fry.png) no-repeat; 
	}
	&.skraffi-ico{
		background: url(../images/skraffi.png) no-repeat
	}
	&.slizen{
		background: url(../images/slizen.png) no-repeat
	}
	&.kalkulon{
		background: url(../images/kalkulon.png) no-repeat
	}
	&.zepp{
		background: url(../images/zepp.png) no-repeat
	}
}

.incut{
	max-width: 700px;
	padding: 30px;
	font-size: 28px;
	font-family: @fuchsia;
	text-align: center;
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #7d7d7d;
	margin: 0px auto 36px;
	@media screen and (min-width: 1001px){
		padding: 50px 30px;
		font-size: 36px;
		margin: 50px auto 50px;
		max-width: 880px;
	}
}