.card{
	opacity: 0;
	position: relative;
	max-width: 620px;
	margin: auto;
	.book{
		display: block;
		width: 100%;
		min-width: 300px;
		max-width: 440px;
		height: auto;
		float: none;
		margin: 0 auto 60px;
		padding: 0 10px;
		cursor: default;
		&:hover .book-cover{
			transform: none;
		}
		&-cover{
			width: 100%;
			// height: 604px;
			height: auto;
			margin-bottom: 40px;
			min-height: 404px;
			img{
				box-shadow: 6px 7px 24px 0px rgba(0, 0, 0, 0.25);
			}
		}
		&-marker{
			width: 19px;
			height: 30px;
    		bottom: -23px;
			left: 26px;
			&::after{
				bottom: -7px;
				border-top-width: 7px;
				border-left-width: 9px;
			}
			&::before{
				bottom: -7px;
				border-top-width: 7px;
				border-right-width: 9px;
			}
		}
		&-description{
			width: 298px;
			font-size: 24px;
			line-height: 1.5;
			text-align: center;
			text-shadow: 1px 0 0px @color-mtext;
			margin: 0 auto 60px;
			strong{
				color: @strong;
				font-weight: normal;
				text-shadow: 1px 0 0 @strong;
			}
		}
	}
	&-milieu{
		&-block{
			width: 300px;
			height: auto;
			margin: 0px auto 60px;
			.avatar{
				width: 210px;
				height: 185px;
				margin: 0 auto 25px;
				img{
					.img;
				}
			}
			.cite{
				width: 100%;
				padding: 0 20px;
				text-align: center;
				font-size: 21px;
				color: @dark-gray;
			}
		}

		@media screen and (min-width: 620px){
			&.reviews{
				float: left;
			}
			&.features{
				float: right;
			}
		}

		@media screen and (min-width: 1000px){
			width: 268px;
			float: none;
			position: absolute;
			top: 0;
			&.reviews{
				left: 0;
			}
			&.features{
				right: 0;
			}
		}
	}
	@media screen and (min-width: 1000px){
		max-width: none;
	}
}
button.buy{
 	outline: none;
 	display: block;
	width: 100%;
	min-width: 300px;
	max-width: 440px;
	padding: 25px 18px;
	border: none;
	border-radius: 18px;
	font-size: 33px;
	color: #ffffff;
	margin: 0 auto 30px;
	background: linear-gradient(to top, @violet 0%, @violet + #251c25 100%);
	box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.33), 0px 10px 41px -5px rgba(56, 37, 57, 0.37);
	cursor: pointer;
	background-color: @violet;
	transition: box-shadow 0.2s ease 0s;
	span{
		color: #ffffff;
	}
	span.bot{
		display: block;
		@media screen and (min-width: 415px){
			display: inline;
		}
	}
	&:hover{
		box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.59), 0px 10px 41px -5px rgba(56, 37, 57, 0.57), inset 0px 48px 50px 0px rgba(255, 255, 255, 0.11);
	}
	&:active{
		box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.33), 0px -2px 12px -5px rgba(56, 37, 57, 0.37);
	}
 }

 .skraffi{
 	color: #dcdcdc;
 	font-style: italic;
 	text-shadow: 0px 0px 0 #dcdcdc;
 	min-width: 300px;
 	max-width: 420px;
 	margin: 0 auto 80px;
 	text-align: center;
 	font-size: 15px;
 	&-avatar{
 		width: 70px;
 		height: 70px;
 		margin: 10px auto 0;
 		background: url(../images/skraffi.png) no-repeat;
 		background-size: contain;
 	}
 }

 /*Book eye*/
@import "eye";
