@keyframes blink-small{
	95%{
		border-bottom-width: 4px;
		border-top-width: 4px;
	}
	99%{
		border-bottom-width: 50px;
		border-top-width: 50px;
	}
	100%{
		border-bottom-width: 50px;
		border-top-width: 50px;
	}
}

@keyframes blink-middle{
	95%{
		border-bottom-width: 5px;
		border-top-width: 5px;
	}
	99%{
		border-bottom-width: 60px;
		border-top-width: 60px;
	}
	100%{
		border-bottom-width: 60px;
		border-top-width: 60px;
	}
}

@keyframes blink-large{
	95%{
		border-bottom-width: 6px;
		border-top-width: 6px;
	}
	99%{
		border-bottom-width: 70px;
		border-top-width: 70px;
	}
	100%{
		border-bottom-width: 70px;
		border-top-width: 70px;
	}
}

.eye-container{
	width: 100%;
	height: 50%;
	position: absolute;
	z-index: 50;
	bottom: 0;
}

.book-eye{
	position: relative;
	width: 100px;
	height: 100px;
	background: #fff;
	// border: 4px solid #000;
	border-radius: 100%;
	margin: auto;
	&-pupil{
		position: absolute;
		width: 18px;
		height: 18px;
		background: #000;
		border-radius: 100%;
		top: 41px;
		left: 41px;
		z-index: 2;
		transition: 0.1s;
	}
	&-lid{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		z-index: 3;
		border: 4px solid #000;
		animation: blink-small 10s linear alternate infinite; 
	}

	@media screen and (min-width: 370px){
		width: 120px;
		height: 120px;
		&-pupil{
			width: 20px;
			height: 20px;
			top: 50px;
			left: 50px;
		}
		&-lid{
			border-width: 5px;
			animation-name: blink-middle;
		}
	}

	@media screen and (min-width: 415px){
		width: 140px;
		height: 140px;
		&-pupil{
			width: 24px;
			height: 24px;
			top: 58px;
			left: 58px;
		}
		&-lid{
			border-width: 6px;
			animation-name: blink-large;
		}
	}
}

