header{
	@media screen and (min-width: 720px){
		padding: 0 44px 0px;
	}
}


.logo{
	width: 300px;
	height: 35px;
	margin: 40px auto 0px;
	img{
		.img;
	}
	@media screen and (min-width: 652px){
		float: left;
	}
}

.search{
	width: 300px;
	// height: 35px;
	margin: 40px auto;
	padding-top: 5px;
	position: relative;
	.input{
		position: relative;
		z-index: 2;
		display: inline-block;
		height: 30px;
		width: 265px;
		border: 1px solid #b3b3b3;
		border-radius: 30px;
		overflow: hidden;
		position: relative;
		background: url(../images/loope.png) 10px center no-repeat;
		box-shadow: inset 0px 3px 4px -2px rgba(187, 187, 187, 0.71),
					inset 2px 0px 4px -2px rgba(187, 187, 187, 0.71),
					inset -2px 0px 4px -2px rgba(187, 187, 187, 0.71);
		span{
			position: absolute;
  			height: 16px;
  			margin-top: 7px;
  			width: 10px;
  			box-shadow: -7px 0px 10px 1px #fff;
  			z-index: 20;
  			background: #ffffff;
  			right: 5px;
		}
	}

	input[type = text]{
		width: 250px;
		height: 100%;
		border:none;
		outline: none;
		border-radius: 30px;
		font-size: 15px;
		padding: 9px 0px 9px 33px;
		margin-right: 7px;
		background: none;
		z-index: 0;
		color: @dark-gray;
		text-shadow: 0 0 0 @dark-gray;
	}
	input[type = submit]{
		z-index: 2;
		position: relative;
		outline: none;
		border: none;
		height: 30px;
		width: 300px - 265px - 7px;
		float: right;
		margin: 0;
		background: url(../images/enter.png) center center no-repeat;
		cursor: pointer;
	}
	&-result{
		display: none;
		// min-height: 100px;
		height: auto;
		width: 320px;
		padding: 40px 10px 10px;
		background: rgba(255, 255, 255, 0.96);
		position: absolute;
		top: -10px;
		left: -10px;
		z-index: 1;
		box-shadow: -6px 13px 14px -8px rgba(144, 142, 142, 0.43);
		// border-radius: 17px;
		font-size: 14px;
	}
	&-message{
		font-weight: bold;
		&.error{
			color: @red;
		}
	}
	&-book{
		color: @black;
		font-size: 15px;
		font-weight: bold;
		a{
			color: @blue;
			font-size: 16px;
			margin-left: 5px;
			cursor: pointer;
			&:hover{
				color: @strong;
			}
		}
	}

	&-close{
		font-size: 16px;
		cursor: pointer;
		font-weight: bold;
		color: @light-gray;
		&:hover{
			color: @strong;
		}
		// font-family: @fuchsia;
	}

	@media screen and (min-width: 652px){
		float: right;
	}
	@media screen and (min-width: 680px){
		width: 310px;
		.input{
			width: 280px;
			span{
				display: none;
			}
		}
		input[type = text]{
			width: 280px;
		}
	}
	@media screen and (min-width: 720px){
		margin-right: -29px;
	}
}

footer{
	margin: 60px auto 0px;
	width: 300px;
	height: 193px;
	cursor: pointer;
}
