.book{
	width: 280px;
	height: 411px;
	margin: 0 auto 60px;
	cursor: pointer;
	display: none;
	transition: none;
	&-cover{
		width: 210px;
		height: 300px;
		margin: 0px auto 27px;
		position: relative;
		img{
			.img;
			position: relative;
			box-shadow: 4px 3px 15px -1px rgba(0, 0, 0, 0.32);
			z-index: 40;
		}
	}
	&-marker{
		width: 13px;
		height: 20px;
		position: absolute;
		bottom: -13px;
		left: 20px;
		background: @gray-mark;
		z-index: 0;
		box-shadow: inset 0px 12px 11px -4px rgba(0, 0, 0, 0.58);
		&::before{
			content: '';
			display: block;
			position: absolute;
			bottom: -5px;
			width: 0;
			height: 0;
			border-top: 5px solid @gray-mark;
			border-right: 7px solid transparent;
		}
		&::after{
			content: '';
			display: block;
			position: absolute;
			bottom: -5px;
			right: 0;
			width: 0;
			height: 0;
			border-top: 5px solid @gray-mark;
			border-left: 7px solid transparent;
		}
		&.red{
			background: @red-mark;
			&::before{
				border-top-color: @red-mark;
			}
			&::after{
				border-top-color: @red-mark;
			}
		}
		&.green{
			background: @green-mark;
			&::before{
				border-top-color: @green-mark;
			}
			&::after{
				border-top-color: @green-mark;
			}
		}
	}
	&-info{
		width: 100%;
		text-align: center;
		font-family: @arial;
		color: @dark-gray;
		font-size: 19px;
		line-height: 1.5;
		& u{
			color: @blue;
			display: inline-block;
			height: 24px;
			&:hover{
				color: @red;
			}
		}
	}
	&:hover &-cover{
		transform: scale(1.05)
	}
	@media screen and (min-width: 669px){
		margin: 0 18px 60px;
		float: left;
		cursor: grab;
		&:active{
			cursor: grabbing;
		}
	}
}


.books{
	text-align: center;
	max-width: 632px;
	margin: auto;
	min-height: 500px;
	&-more{
		display: none;
		width: 300px;
		padding: 14px 0px 11px;
		color: @blue;
		border-radius: 10px;
		border: 2px solid hsl( hue(@blue), saturation(@blue), 75% );
		outline: none;
		background: none;
		font-size: 17px;
		font-weight: bold;
		margin: 0px auto 0px;
		cursor: pointer;
		&:hover{
			color: @red;
			border-color: @red;
		}
		&.locked{
			color: @light-gray;
			border-color: @light-gray;
			cursor: default;
			display: none !important;
		}
	}
	@media screen and (min-width: 985px) {
		max-width: 948px;
	}

	@media screen and (min-width: 1284px) {
		max-width: 1264px;
	}
}

.messege{
	display: none;
	text-align: center;
	line-height: 1.5;
	font-size: 20px;
	&.error{
		color: @red;
		display: block;
	}
	@media screen and (min-width: 669px){
		display: block;
		padding: 0px 50px;
		font-size: 22px;
		text-align: center;
		line-height: 1.5;
		max-width: 939px;
		margin: 0 auto 50px;
		color: @dark-gray;
	}
	@media screen and (min-width: 791px){
		font-size: 28px;
	}
	@media screen and (min-width: 976px){
		font-size: 32px;
	}
}

.lineSpace{
	background: @red; 
	height: 431px; 
	margin: -20px -2px 0px;
	width: 2px; 
	position: relative;
	float: left;
	&:before{
		content: '';
		display: block;
		width: 9px;
		height: 9px;
		background: @red;
		position: absolute;
		top: -5px;
		left: -3px;
		border-radius: 100%;
	}
	&:after{
		content: '';
		display: block;
		width: 9px;
		height: 9px;
		background: @red;
		position: absolute;
		bottom: -5px;
		left: -3px;
		border-radius: 100%;
	}
}

#book-empty{
	display: block;
}

.book.ui-sortable-helper{
	.book-cover{
		transform: scale(1.2);
	}
	.book-info{
		margin-top: 50px;
		transition: 0.4s;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
	}
}
