
@import (inline) "normalize.css";

@font-face {
    font-family: Fuchsia; /* Имя шрифта */
    src: url(../fonts/alsfuchsia.otf); /* Путь к файлу со шрифтом */
   }

@arial: Arial, Helvetica, sans-serif;
@fuchsia: Fuchsia, 'Segoe Print', cursive;
@black: #000000;
@blue: #4285be;
@red: #e51907;
@strong: #fc5454;
@light-gray: #bfbfbf;
@dark-gray:  #4c4c4c;
@color-mtext: #333333;

@green-mark: #00927a;
@gray-mark: #878786;
@red-mark: #e74d55;


@violet: #613c63;

.img(){
	width: 100%;
	height: auto;
}
.line(){
	outline: 1px solid red;
}

@font-face {
    font-family: Fuchsia; /* Имя шрифта */
    src: url(../fonts/alsfuchsia.otf); /* Путь к файлу со шрифтом */
   }

*{
	box-sizing: border-box;
	transition: 1s;
	color: @color-mtext;
}

body{
	min-width: 320px;
}

::-webkit-input-placeholder {color:@light-gray; text-shadow: 0 0 0 @light-gray; font-weight: normal;}
::-moz-placeholder          {color:@light-gray; text-shadow: 0 0 0 @light-gray; font-weight: normal;}
:-moz-placeholder           {color:@light-gray; text-shadow: 0 0 0 @light-gray; font-weight: normal;}
:-ms-input-placeholder      {color:@light-gray; text-shadow: 0 0 0 @light-gray; font-weight: normal;}

.content{
	width: 100%;
	padding: 0 10px 0px;
	margin: auto;
	max-width: 1286px;
	font-family: @arial;
}

h1{
	font-size: 38px;
	color: @black;
	text-align: center;
	margin: 0px 0px 40px;
	@media screen and (min-width: 652px){
		font-size: 60px;
	}
	@media screen and (min-width: 1001px){
		font-size: 72px;
	}
}

h2{
	font-size: 32px;
	margin: 0px 0px 25px;
	color: @black;
	line-height: 1;
	@media screen and (min-width: 1001px){
		font-size: 42px;
	}
}

h3{
	font-size: 24px;
	color: @black;
	margin: 0px 0px 20px;
	line-height: 1.5;
}

.cl{
	clear: both;
}
/* Header and footer*/
@import "header-footer";
/* Main page*/
@import "home";
/* About company*/
@import "about";
/*Book card*/
@import "book";

/*Order page*/
@import "order";

