h2.order-for{
	font-weight: normal;
	line-height: 1.5;
	max-width: 1010px;
	margin: auto;
	a{
		color: @blue;
	}

	@media screen and (min-width: 1030px){

	}
}

.order{
	fieldset{
		border: none;
		outline: none;
		max-width: 340px;
		margin: 0 auto 20px;
		padding: 0;
		legend{
			color: @dark-gray;
			font-size: 19px;
			margin-bottom: 15px;
			font-weight: bold;
		}
		&.result{
			text-align: center;
			margin: 40px auto 80px;
			// width: auto;
			p{
				font-size: 25px;
			}
		}
		&.payment, &.delivery{
			p.error{
				margin-bottom: 10px;
				padding-left: 0px;
			}
		}
	}
	input[type = text], textarea{
		outline: none;
		width: 100%;
		max-width: 340px;
		padding: 5px;
		border: 4px solid #000;
		display: block;
		margin: 5px 0 10px;
		font-weight: bold;
		color: @color-mtext;
	}
	textarea{
		height: 175px;
		transition: 0.3s;
	}

	input[type = text].error{
		border-color: @red;
	}
	input[type="radio"] {
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px 0 0;
		width: 14px;
		height: 14px;
	}
	label{
		font-size: 16px;
		font-weight: bold;
		color: #000;
		padding-left: 9px;
		&.adress{
			display: block;
			margin-top: 15px;
		}
	}
	p{
		font-size: 20px;
		font-weight: bold;
		margin: 0;
		&.error{
			color: @red;
			font-size: 15px;
			padding-left: 9px;
			display: none;
			&.g{
				font-size: 20px;
				margin-top: 20px;
			}
		}
	}
	&-make{
		background: none;
		outline: none;
		border: 4px solid #000;
		width: 100%;
		max-width: 420px;
		margin: 20px auto 20px;
		padding: 10px 0px;
		font-size: 25px;
		color: #000;
		font-weight: bold;
		cursor: pointer;
		&:hover{
			background: #000;
			color: #fff;
		}
		&:active, &.active{
			background: @light-gray;
			color: #fff;
			border-color: @light-gray;
		}
	}
	
	&-adress{
		display: none;
		p.error{
			margin-top: 10px;
			padding-left: 9px !important;
		}
	}

	.book{
		display: none;
	}

	@media screen and (min-width: 640px){
		max-width: 670px;
		margin: auto;
		fieldset{
			width: 300px;
			margin-top: 40px;
			&.userdata, &.delivery{
				float: left;
			}
			&.comment, &.payment{
				float: right;
			}
			&.result{
				width: auto;
				p{
					font-size: 28px;
				}
			}
		}
	}
	@media screen and (min-width: 1030px){
		width: 100%;
		max-width: 1010px;
		&-left{
			width: 670px;
			float: left;
		}
		.book{
			display: block;
			float: right;
			margin: 0;
			margin-right: 10px;
			margin-top: 36px;
			width: 260px;
			height: auto;
			cursor: pointer;
			opacity: 0;
			&-cover{
				margin: 0;
				width: 260px;
				height: auto;
			}
			&:hover .book-cover{
				transform: none;
			}
		}
	}
}

.radio{
	cursor: pointer;
	& + label{
		cursor: pointer;
		font-size: 14px;
	}
	&:not(checked) {
	  position: absolute;
	  opacity: 0;
	}
	&:not(checked) + label {
	  position: relative; 
	  padding: 0 0 0 20px;
	  margin-right: 10px;
	}
	&:not(checked) + label:before {
	  content: '';
	  position: absolute;
	  top: 1px;
	  left: 0;
	  width: 14px;
	  height: 14px;
	  border-radius: 50%;
	  background: #fff;
	  border: 2px solid #000;
	  box-sizing: border-box;
	}
	
	&:checked + label:before {
	  background: #000;
	  box-shadow: inset 0px 0px 0px 2px #fff;
	}

	&:disabled + label{
		color: @light-gray;
	}
	&:disabled + label:before{
		border-color: @light-gray;
	}
}

.preloader{
	display: none;
	text-align: center;
	padding: 100px 0;
	&-box{
		font-size: 45px;
		display: inline-block;
		line-height: 1;
	}
	&-letter{
		float: left;
		width: 42px;
    	height: 42px;
    	padding-bottom: 3px;
    	animation: loading 5s linear alternate infinite;
    	animation-fill-mode: forwards;
    	&:nth-child(2n){
    		animation-direction: alternate-reverse;
    	}
	}
	.eye-container{
		position: relative;
		width: 100%;
		margin-top: 40px;
	}

	.book-eye-pupil{
		animation: pupil-min 10s linear alternate infinite;
		@media screen and (min-width: 370px){
			animation-name: pupil-middle;
		}
		@media screen and (min-width: 415px){
			animation-name: pupil-large;
		}
	}

	@media screen and (min-width: 730px){
		&-box{
			font-size: 80px;
		}
		&-letter{
			width: 75px;
    		height: 75px;
		}
	}
}

@keyframes loading{
	49%{
		background: #fff;
		color: #000;
	}
	51%{
		background: #000;
		color: #fff;
	}
	100%{
		background: #000;
		color: #fff;
	}
}

@keyframes pupil-min{
	2%{
		 top: 10px;
	}
	12%{
		top: 10px;
	}
	14%{
		top: 41px;
	}
	24%{
		top: 41px;
	}
	28%{
		left: 70px;
	}
	38%{
		left: 70px;
	}
	40%{
		left: 41px;
	}

	50%{
		left: 41px;
	}

	52%{
		 top: 10px;
	}
	62%{
		top: 10px;
	}
	64%{
		top: 41px;
	}
	74%{
		top: 41px;
	}
	78%{
		left: 10px;
	}
	88%{
		left: 10px;
	}
	90%{
		left: 41px;
	}
	100%{
		left: 41px;

	}
	
}


@keyframes pupil-middle{
	2%{
		 top: 15px;
	}
	12%{
		top: 15px;
	}
	14%{
		top: 50px;
	}
	24%{
		top: 50px;
	}
	28%{
		left: 90px;
	}
	38%{
		left: 90px;
	}
	40%{
		left: 50px;
	}

	50%{
		left: 50px;
	}

	52%{
		 top: 15px;
	}
	62%{
		top: 15px;
	}
	64%{
		top: 50px;
	}
	74%{
		top: 50px;
	}
	78%{
		left: 15px;
	}
	88%{
		left: 15px;
	}
	90%{
		left: 50px;
	}
	100%{
		left: 50px;

	}
	
}

@keyframes pupil-large{
	2%{
		 top: 20px;
	}
	12%{
		top: 20px;
	}
	14%{
		top: 58px;
	}
	24%{
		top: 58px;
	}
	28%{
		left: 100px;
	}
	38%{
		left: 100px;
	}
	40%{
		left: 58px;
	}

	50%{
		left: 58px;
	}

	52%{
		 top: 20px;
	}
	62%{
		top: 20px;
	}
	64%{
		top: 58px;
	}
	74%{
		top: 58px;
	}
	78%{
		left: 20px;
	}
	88%{
		left: 20px;
	}
	90%{
		left: 58px;
	}
	100%{
		left: 58px;

	}
	
}


.done{
	display: none;
	font-weight: normal;
    line-height: 1;
    max-width: 1010px;
    margin: auto;
    font-size: 24px;
    min-height: 180px;
    p{
    	margin-bottom: 10px;
    	&:first-child{
    		color: @strong;
    	}
    	@media screen and (min-width: 1001px){
			font-size: 36px;
		}
    }
}