/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

@font-face {
  font-family: Fuchsia;
  /* Имя шрифта */
  src: url(../fonts/alsfuchsia.otf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Fuchsia;
  /* Имя шрифта */
  src: url(../fonts/alsfuchsia.otf);
  /* Путь к файлу со шрифтом */
}
* {
  box-sizing: border-box;
  -webkit-transition: 1s;
          transition: 1s;
  color: #333333;
}
body {
  min-width: 320px;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
  text-shadow: 0 0 0 #bfbfbf;
  font-weight: normal;
}
::-moz-placeholder {
  color: #bfbfbf;
  text-shadow: 0 0 0 #bfbfbf;
  font-weight: normal;
}
:-moz-placeholder {
  color: #bfbfbf;
  text-shadow: 0 0 0 #bfbfbf;
  font-weight: normal;
}
:-ms-input-placeholder {
  color: #bfbfbf;
  text-shadow: 0 0 0 #bfbfbf;
  font-weight: normal;
}
.content {
  width: 100%;
  padding: 0 10px 0px;
  margin: auto;
  max-width: 1286px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 38px;
  color: #000000;
  text-align: center;
  margin: 0px 0px 40px;
}
@media screen and (min-width: 652px) {
  h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1001px) {
  h1 {
    font-size: 72px;
  }
}
h2 {
  font-size: 32px;
  margin: 0px 0px 25px;
  color: #000000;
  line-height: 1;
}
@media screen and (min-width: 1001px) {
  h2 {
    font-size: 42px;
  }
}
h3 {
  font-size: 24px;
  color: #000000;
  margin: 0px 0px 20px;
  line-height: 1.5;
}
.cl {
  clear: both;
}
/* Header and footer*/
@media screen and (min-width: 720px) {
  header {
    padding: 0 44px 0px;
  }
}
.logo {
  width: 300px;
  height: 35px;
  margin: 40px auto 0px;
}
.logo img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 652px) {
  .logo {
    float: left;
  }
}
.search {
  width: 300px;
  margin: 40px auto;
  padding-top: 5px;
  position: relative;
}
.search .input {
  z-index: 2;
  display: inline-block;
  height: 30px;
  width: 265px;
  border: 1px solid #b3b3b3;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background: url(../images/loope.png) 10px center no-repeat;
  box-shadow: inset 0px 3px 4px -2px rgba(187, 187, 187, 0.71), inset 2px 0px 4px -2px rgba(187, 187, 187, 0.71), inset -2px 0px 4px -2px rgba(187, 187, 187, 0.71);
}
.search .input span {
  position: absolute;
  height: 16px;
  margin-top: 7px;
  width: 10px;
  box-shadow: -7px 0px 10px 1px #fff;
  z-index: 20;
  background: #ffffff;
  right: 5px;
}
.search input[type=text] {
  width: 250px;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 15px;
  padding: 9px 0px 9px 33px;
  margin-right: 7px;
  background: none;
  z-index: 0;
  color: #4c4c4c;
  text-shadow: 0 0 0 #4c4c4c;
}
.search input[type=submit] {
  z-index: 2;
  position: relative;
  outline: none;
  border: none;
  height: 30px;
  width: 28px;
  float: right;
  margin: 0;
  background: url(../images/enter.png) center center no-repeat;
  cursor: pointer;
}
.search-result {
  display: none;
  height: auto;
  width: 320px;
  padding: 40px 10px 10px;
  background: rgba(255, 255, 255, 0.96);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
  box-shadow: -6px 13px 14px -8px rgba(144, 142, 142, 0.43);
  font-size: 14px;
}
.search-message {
  font-weight: bold;
}
.search-message.error {
  color: #e51907;
}
.search-book {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}
.search-book a {
  color: #4285be;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}
.search-book a:hover {
  color: #fc5454;
}
.search-close {
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: #bfbfbf;
}
.search-close:hover {
  color: #fc5454;
}
@media screen and (min-width: 652px) {
  .search {
    float: right;
  }
}
@media screen and (min-width: 680px) {
  .search {
    width: 310px;
  }
  .search .input {
    width: 280px;
  }
  .search .input span {
    display: none;
  }
  .search input[type=text] {
    width: 280px;
  }
}
@media screen and (min-width: 720px) {
  .search {
    margin-right: -29px;
  }
}
footer {
  margin: 60px auto 0px;
  width: 300px;
  height: 193px;
  cursor: pointer;
}
/* Main page*/
.book {
  width: 280px;
  height: 411px;
  margin: 0 auto 60px;
  cursor: pointer;
  display: none;
  -webkit-transition: none;
          transition: none;
}
.book-cover {
  width: 210px;
  height: 300px;
  margin: 0px auto 27px;
  position: relative;
}
.book-cover img {
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: 4px 3px 15px -1px rgba(0, 0, 0, 0.32);
  z-index: 40;
}
.book-marker {
  width: 13px;
  height: 20px;
  position: absolute;
  bottom: -13px;
  left: 20px;
  background: #878786;
  z-index: 0;
  box-shadow: inset 0px 12px 11px -4px rgba(0, 0, 0, 0.58);
}
.book-marker::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid #878786;
  border-right: 7px solid transparent;
}
.book-marker::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 5px solid #878786;
  border-left: 7px solid transparent;
}
.book-marker.red {
  background: #e74d55;
}
.book-marker.red::before {
  border-top-color: #e74d55;
}
.book-marker.red::after {
  border-top-color: #e74d55;
}
.book-marker.green {
  background: #00927a;
}
.book-marker.green::before {
  border-top-color: #00927a;
}
.book-marker.green::after {
  border-top-color: #00927a;
}
.book-info {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #4c4c4c;
  font-size: 19px;
  line-height: 1.5;
}
.book-info u {
  color: #4285be;
  display: inline-block;
  height: 24px;
}
.book-info u:hover {
  color: #e51907;
}
.book:hover .book-cover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (min-width: 669px) {
  .book {
    margin: 0 18px 60px;
    float: left;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .book:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
}
.books {
  text-align: center;
  max-width: 632px;
  margin: auto;
  min-height: 500px;
}
.books-more {
  display: none;
  width: 300px;
  padding: 14px 0px 11px;
  color: #4285be;
  border-radius: 10px;
  border: 2px solid #a0c2de;
  outline: none;
  background: none;
  font-size: 17px;
  font-weight: bold;
  margin: 0px auto 0px;
  cursor: pointer;
}
.books-more:hover {
  color: #e51907;
  border-color: #e51907;
}
.books-more.locked {
  color: #bfbfbf;
  border-color: #bfbfbf;
  cursor: default;
  display: none !important;
}
@media screen and (min-width: 985px) {
  .books {
    max-width: 948px;
  }
}
@media screen and (min-width: 1284px) {
  .books {
    max-width: 1264px;
  }
}
.messege {
  display: none;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}
.messege.error {
  color: #e51907;
  display: block;
}
@media screen and (min-width: 669px) {
  .messege {
    display: block;
    padding: 0px 50px;
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
    max-width: 939px;
    margin: 0 auto 50px;
    color: #4c4c4c;
  }
}
@media screen and (min-width: 791px) {
  .messege {
    font-size: 28px;
  }
}
@media screen and (min-width: 976px) {
  .messege {
    font-size: 32px;
  }
}
.lineSpace {
  background: #e51907;
  height: 431px;
  margin: -20px -2px 0px;
  width: 2px;
  position: relative;
  float: left;
}
.lineSpace:before {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background: #e51907;
  position: absolute;
  top: -5px;
  left: -3px;
  border-radius: 100%;
}
.lineSpace:after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background: #e51907;
  position: absolute;
  bottom: -5px;
  left: -3px;
  border-radius: 100%;
}
#book-empty {
  display: block;
}
.book.ui-sortable-helper .book-cover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.book.ui-sortable-helper .book-info {
  margin-top: 50px;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
}
/* About company*/
.intro {
  max-width: 880px;
  font-size: 25px;
  color: #4c4c4c;
  text-align: center;
  line-height: 1.5;
  text-shadow: 0 0 0 #4c4c4c;
  margin: 0 auto -30px;
}
@media screen and (min-width: 652px) {
  .intro {
    font-size: 26px;
  }
}
@media screen and (min-width: 1001px) {
  .intro {
    font-size: 32px;
    margin: 10px auto 50px;
  }
}
.text-block {
  font-size: 19px;
  line-height: 1.5;
  max-width: 640px;
  margin: 0 auto 30px;
}
.text-block p {
  margin-top: 0px;
}
.text-block h2 {
  margin-top: 60px;
}
.text-block ul {
  margin-top: -15px;
  list-style: none;
  padding: 0;
}
.text-block ul li {
  margin: 0px 0px 25px;
}
.text-block ul li::before {
  content: "—";
  margin-right: 5px;
}
.icons {
  width: 300px;
  margin: auto;
  margin-top: 46px;
}
@media screen and (min-width: 464px) {
  .icons {
    width: 444px;
  }
}
@media screen and (min-width: 908px) {
  .icons {
    width: 888px;
  }
}
.icon {
  width: 112px;
  height: 112px;
  border: 1px solid #ccc;
  float: left;
  margin: 18px 18px;
  border-radius: 100%;
  background-size: contain;
}
.icon.bender {
  border-radius: 0;
  border-color: transparent;
}
.icon.bender div {
  background: url(../images/bender-ico.png) no-repeat;
  background-size: contain;
  height: 137px;
  margin-top: -24px;
}
.icon.fry {
  background: url(../images/fry.png) no-repeat;
}
.icon.skraffi-ico {
  background: url(../images/skraffi.png) no-repeat;
}
.icon.slizen {
  background: url(../images/slizen.png) no-repeat;
}
.icon.kalkulon {
  background: url(../images/kalkulon.png) no-repeat;
}
.icon.zepp {
  background: url(../images/zepp.png) no-repeat;
}
.incut {
  max-width: 700px;
  padding: 30px;
  font-size: 28px;
  font-family: Fuchsia, 'Segoe Print', cursive;
  text-align: center;
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #7d7d7d;
  margin: 0px auto 36px;
}
@media screen and (min-width: 1001px) {
  .incut {
    padding: 50px 30px;
    font-size: 36px;
    margin: 50px auto 50px;
    max-width: 880px;
  }
}
/*Book card*/
.card {
  opacity: 0;
  position: relative;
  max-width: 620px;
  margin: auto;
}
.card .book {
  display: block;
  width: 100%;
  min-width: 300px;
  max-width: 440px;
  height: auto;
  float: none;
  margin: 0 auto 60px;
  padding: 0 10px;
  cursor: default;
}
.card .book:hover .book-cover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.card .book-cover {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  min-height: 404px;
}
.card .book-cover img {
  box-shadow: 6px 7px 24px 0px rgba(0, 0, 0, 0.25);
}
.card .book-marker {
  width: 19px;
  height: 30px;
  bottom: -23px;
  left: 26px;
}
.card .book-marker::after {
  bottom: -7px;
  border-top-width: 7px;
  border-left-width: 9px;
}
.card .book-marker::before {
  bottom: -7px;
  border-top-width: 7px;
  border-right-width: 9px;
}
.card .book-description {
  width: 298px;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  text-shadow: 1px 0 0px #333333;
  margin: 0 auto 60px;
}
.card .book-description strong {
  color: #fc5454;
  font-weight: normal;
  text-shadow: 1px 0 0 #fc5454;
}
.card-milieu-block {
  width: 300px;
  height: auto;
  margin: 0px auto 60px;
}
.card-milieu-block .avatar {
  width: 210px;
  height: 185px;
  margin: 0 auto 25px;
}
.card-milieu-block .avatar img {
  width: 100%;
  height: auto;
}
.card-milieu-block .cite {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  font-size: 21px;
  color: #4c4c4c;
}
@media screen and (min-width: 620px) {
  .card-milieu.reviews {
    float: left;
  }
  .card-milieu.features {
    float: right;
  }
}
@media screen and (min-width: 1000px) {
  .card-milieu {
    width: 268px;
    float: none;
    position: absolute;
    top: 0;
  }
  .card-milieu.reviews {
    left: 0;
  }
  .card-milieu.features {
    right: 0;
  }
}
@media screen and (min-width: 1000px) {
  .card {
    max-width: none;
  }
}
button.buy {
  outline: none;
  display: block;
  width: 100%;
  min-width: 300px;
  max-width: 440px;
  padding: 25px 18px;
  border: none;
  border-radius: 18px;
  font-size: 33px;
  color: #ffffff;
  margin: 0 auto 30px;
  background: -webkit-linear-gradient(bottom, #613c63 0%, #865888 100%);
  background: linear-gradient(to top, #613c63 0%, #865888 100%);
  box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.33), 0px 10px 41px -5px rgba(56, 37, 57, 0.37);
  cursor: pointer;
  background-color: #613c63;
  -webkit-transition: box-shadow 0.2s ease 0s;
          transition: box-shadow 0.2s ease 0s;
}
button.buy span {
  color: #ffffff;
}
button.buy span.bot {
  display: block;
}
@media screen and (min-width: 415px) {
  button.buy span.bot {
    display: inline;
  }
}
button.buy:hover {
  box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.59), 0px 10px 41px -5px rgba(56, 37, 57, 0.57), inset 0px 48px 50px 0px rgba(255, 255, 255, 0.11);
}
button.buy:active {
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.33), 0px -2px 12px -5px rgba(56, 37, 57, 0.37);
}
.skraffi {
  color: #dcdcdc;
  font-style: italic;
  text-shadow: 0px 0px 0 #dcdcdc;
  min-width: 300px;
  max-width: 420px;
  margin: 0 auto 80px;
  text-align: center;
  font-size: 15px;
}
.skraffi-avatar {
  width: 70px;
  height: 70px;
  margin: 10px auto 0;
  background: url(../images/skraffi.png) no-repeat;
  background-size: contain;
}
/*Book eye*/
@-webkit-keyframes blink-small {
  95% {
    border-bottom-width: 4px;
    border-top-width: 4px;
  }
  99% {
    border-bottom-width: 50px;
    border-top-width: 50px;
  }
  100% {
    border-bottom-width: 50px;
    border-top-width: 50px;
  }
}
@keyframes blink-small {
  95% {
    border-bottom-width: 4px;
    border-top-width: 4px;
  }
  99% {
    border-bottom-width: 50px;
    border-top-width: 50px;
  }
  100% {
    border-bottom-width: 50px;
    border-top-width: 50px;
  }
}
@-webkit-keyframes blink-middle {
  95% {
    border-bottom-width: 5px;
    border-top-width: 5px;
  }
  99% {
    border-bottom-width: 60px;
    border-top-width: 60px;
  }
  100% {
    border-bottom-width: 60px;
    border-top-width: 60px;
  }
}
@keyframes blink-middle {
  95% {
    border-bottom-width: 5px;
    border-top-width: 5px;
  }
  99% {
    border-bottom-width: 60px;
    border-top-width: 60px;
  }
  100% {
    border-bottom-width: 60px;
    border-top-width: 60px;
  }
}
@-webkit-keyframes blink-large {
  95% {
    border-bottom-width: 6px;
    border-top-width: 6px;
  }
  99% {
    border-bottom-width: 70px;
    border-top-width: 70px;
  }
  100% {
    border-bottom-width: 70px;
    border-top-width: 70px;
  }
}
@keyframes blink-large {
  95% {
    border-bottom-width: 6px;
    border-top-width: 6px;
  }
  99% {
    border-bottom-width: 70px;
    border-top-width: 70px;
  }
  100% {
    border-bottom-width: 70px;
    border-top-width: 70px;
  }
}
.eye-container {
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 50;
  bottom: 0;
}
.book-eye {
  position: relative;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 100%;
  margin: auto;
}
.book-eye-pupil {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #000;
  border-radius: 100%;
  top: 41px;
  left: 41px;
  z-index: 2;
  -webkit-transition: 0.1s;
          transition: 0.1s;
}
.book-eye-lid {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 3;
  border: 4px solid #000;
  -webkit-animation: blink-small 10s linear alternate infinite;
          animation: blink-small 10s linear alternate infinite;
}
@media screen and (min-width: 370px) {
  .book-eye {
    width: 120px;
    height: 120px;
  }
  .book-eye-pupil {
    width: 20px;
    height: 20px;
    top: 50px;
    left: 50px;
  }
  .book-eye-lid {
    border-width: 5px;
    -webkit-animation-name: blink-middle;
            animation-name: blink-middle;
  }
}
@media screen and (min-width: 415px) {
  .book-eye {
    width: 140px;
    height: 140px;
  }
  .book-eye-pupil {
    width: 24px;
    height: 24px;
    top: 58px;
    left: 58px;
  }
  .book-eye-lid {
    border-width: 6px;
    -webkit-animation-name: blink-large;
            animation-name: blink-large;
  }
}
/*Order page*/
h2.order-for {
  font-weight: normal;
  line-height: 1.5;
  max-width: 1010px;
  margin: auto;
}
h2.order-for a {
  color: #4285be;
}
.order fieldset {
  border: none;
  outline: none;
  max-width: 340px;
  margin: 0 auto 20px;
  padding: 0;
}
.order fieldset legend {
  color: #4c4c4c;
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: bold;
}
.order fieldset.result {
  text-align: center;
  margin: 40px auto 80px;
}
.order fieldset.result p {
  font-size: 25px;
}
.order fieldset.payment p.error,
.order fieldset.delivery p.error {
  margin-bottom: 10px;
  padding-left: 0px;
}
.order input[type=text],
.order textarea {
  outline: none;
  width: 100%;
  max-width: 340px;
  padding: 5px;
  border: 4px solid #000;
  display: block;
  margin: 5px 0 10px;
  font-weight: bold;
  color: #333333;
}
.order textarea {
  height: 175px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.order input[type=text].error {
  border-color: #e51907;
}
.order input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
  width: 14px;
  height: 14px;
}
.order label {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding-left: 9px;
}
.order label.adress {
  display: block;
  margin-top: 15px;
}
.order p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.order p.error {
  color: #e51907;
  font-size: 15px;
  padding-left: 9px;
  display: none;
}
.order p.error.g {
  font-size: 20px;
  margin-top: 20px;
}
.order-make {
  background: none;
  outline: none;
  border: 4px solid #000;
  width: 100%;
  max-width: 420px;
  margin: 20px auto 20px;
  padding: 10px 0px;
  font-size: 25px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.order-make:hover {
  background: #000;
  color: #fff;
}
.order-make:active,
.order-make.active {
  background: #bfbfbf;
  color: #fff;
  border-color: #bfbfbf;
}
.order-adress {
  display: none;
}
.order-adress p.error {
  margin-top: 10px;
  padding-left: 9px !important;
}
.order .book {
  display: none;
}
@media screen and (min-width: 640px) {
  .order {
    max-width: 670px;
    margin: auto;
  }
  .order fieldset {
    width: 300px;
    margin-top: 40px;
  }
  .order fieldset.userdata,
  .order fieldset.delivery {
    float: left;
  }
  .order fieldset.comment,
  .order fieldset.payment {
    float: right;
  }
  .order fieldset.result {
    width: auto;
  }
  .order fieldset.result p {
    font-size: 28px;
  }
}
@media screen and (min-width: 1030px) {
  .order {
    width: 100%;
    max-width: 1010px;
  }
  .order-left {
    width: 670px;
    float: left;
  }
  .order .book {
    display: block;
    float: right;
    margin: 0;
    margin-right: 10px;
    margin-top: 36px;
    width: 260px;
    height: auto;
    cursor: pointer;
    opacity: 0;
  }
  .order .book-cover {
    margin: 0;
    width: 260px;
    height: auto;
  }
  .order .book:hover .book-cover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.radio {
  cursor: pointer;
}
.radio + label {
  cursor: pointer;
  font-size: 14px;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 20px;
  margin-right: 10px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
}
.radio:checked + label:before {
  background: #000;
  box-shadow: inset 0px 0px 0px 2px #fff;
}
.radio:disabled + label {
  color: #bfbfbf;
}
.radio:disabled + label:before {
  border-color: #bfbfbf;
}
.preloader {
  display: none;
  text-align: center;
  padding: 100px 0;
}
.preloader-box {
  font-size: 45px;
  display: inline-block;
  line-height: 1;
}
.preloader-letter {
  float: left;
  width: 42px;
  height: 42px;
  padding-bottom: 3px;
  -webkit-animation: loading 5s linear alternate infinite;
          animation: loading 5s linear alternate infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.preloader-letter:nth-child(2n) {
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}
.preloader .eye-container {
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.preloader .book-eye-pupil {
  -webkit-animation: pupil-min 10s linear alternate infinite;
          animation: pupil-min 10s linear alternate infinite;
}
@media screen and (min-width: 370px) {
  .preloader .book-eye-pupil {
    -webkit-animation-name: pupil-middle;
            animation-name: pupil-middle;
  }
}
@media screen and (min-width: 415px) {
  .preloader .book-eye-pupil {
    -webkit-animation-name: pupil-large;
            animation-name: pupil-large;
  }
}
@media screen and (min-width: 730px) {
  .preloader-box {
    font-size: 80px;
  }
  .preloader-letter {
    width: 75px;
    height: 75px;
  }
}
@-webkit-keyframes loading {
  49% {
    background: #fff;
    color: #000;
  }
  51% {
    background: #000;
    color: #fff;
  }
  100% {
    background: #000;
    color: #fff;
  }
}
@keyframes loading {
  49% {
    background: #fff;
    color: #000;
  }
  51% {
    background: #000;
    color: #fff;
  }
  100% {
    background: #000;
    color: #fff;
  }
}
@-webkit-keyframes pupil-min {
  2% {
    top: 10px;
  }
  12% {
    top: 10px;
  }
  14% {
    top: 41px;
  }
  24% {
    top: 41px;
  }
  28% {
    left: 70px;
  }
  38% {
    left: 70px;
  }
  40% {
    left: 41px;
  }
  50% {
    left: 41px;
  }
  52% {
    top: 10px;
  }
  62% {
    top: 10px;
  }
  64% {
    top: 41px;
  }
  74% {
    top: 41px;
  }
  78% {
    left: 10px;
  }
  88% {
    left: 10px;
  }
  90% {
    left: 41px;
  }
  100% {
    left: 41px;
  }
}
@keyframes pupil-min {
  2% {
    top: 10px;
  }
  12% {
    top: 10px;
  }
  14% {
    top: 41px;
  }
  24% {
    top: 41px;
  }
  28% {
    left: 70px;
  }
  38% {
    left: 70px;
  }
  40% {
    left: 41px;
  }
  50% {
    left: 41px;
  }
  52% {
    top: 10px;
  }
  62% {
    top: 10px;
  }
  64% {
    top: 41px;
  }
  74% {
    top: 41px;
  }
  78% {
    left: 10px;
  }
  88% {
    left: 10px;
  }
  90% {
    left: 41px;
  }
  100% {
    left: 41px;
  }
}
@-webkit-keyframes pupil-middle {
  2% {
    top: 15px;
  }
  12% {
    top: 15px;
  }
  14% {
    top: 50px;
  }
  24% {
    top: 50px;
  }
  28% {
    left: 90px;
  }
  38% {
    left: 90px;
  }
  40% {
    left: 50px;
  }
  50% {
    left: 50px;
  }
  52% {
    top: 15px;
  }
  62% {
    top: 15px;
  }
  64% {
    top: 50px;
  }
  74% {
    top: 50px;
  }
  78% {
    left: 15px;
  }
  88% {
    left: 15px;
  }
  90% {
    left: 50px;
  }
  100% {
    left: 50px;
  }
}
@keyframes pupil-middle {
  2% {
    top: 15px;
  }
  12% {
    top: 15px;
  }
  14% {
    top: 50px;
  }
  24% {
    top: 50px;
  }
  28% {
    left: 90px;
  }
  38% {
    left: 90px;
  }
  40% {
    left: 50px;
  }
  50% {
    left: 50px;
  }
  52% {
    top: 15px;
  }
  62% {
    top: 15px;
  }
  64% {
    top: 50px;
  }
  74% {
    top: 50px;
  }
  78% {
    left: 15px;
  }
  88% {
    left: 15px;
  }
  90% {
    left: 50px;
  }
  100% {
    left: 50px;
  }
}
@-webkit-keyframes pupil-large {
  2% {
    top: 20px;
  }
  12% {
    top: 20px;
  }
  14% {
    top: 58px;
  }
  24% {
    top: 58px;
  }
  28% {
    left: 100px;
  }
  38% {
    left: 100px;
  }
  40% {
    left: 58px;
  }
  50% {
    left: 58px;
  }
  52% {
    top: 20px;
  }
  62% {
    top: 20px;
  }
  64% {
    top: 58px;
  }
  74% {
    top: 58px;
  }
  78% {
    left: 20px;
  }
  88% {
    left: 20px;
  }
  90% {
    left: 58px;
  }
  100% {
    left: 58px;
  }
}
@keyframes pupil-large {
  2% {
    top: 20px;
  }
  12% {
    top: 20px;
  }
  14% {
    top: 58px;
  }
  24% {
    top: 58px;
  }
  28% {
    left: 100px;
  }
  38% {
    left: 100px;
  }
  40% {
    left: 58px;
  }
  50% {
    left: 58px;
  }
  52% {
    top: 20px;
  }
  62% {
    top: 20px;
  }
  64% {
    top: 58px;
  }
  74% {
    top: 58px;
  }
  78% {
    left: 20px;
  }
  88% {
    left: 20px;
  }
  90% {
    left: 58px;
  }
  100% {
    left: 58px;
  }
}
.done {
  display: none;
  font-weight: normal;
  line-height: 1;
  max-width: 1010px;
  margin: auto;
  font-size: 24px;
  min-height: 180px;
}
.done p {
  margin-bottom: 10px;
}
.done p:first-child {
  color: #fc5454;
}
@media screen and (min-width: 1001px) {
  .done p {
    font-size: 36px;
  }
}
